/*define body style with a backgound picture background3.jpg covering whole webpage
defining height, width, font-family and  color for text */

body {
      text-align: left;
      background: url("background3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height:100%;
      width:100%;
      color: white;
      font-family: helvetica;
    }

/* defining .tab property to left margin indent */

.tab { margin-left: 40px; }

/* text in between are descriptive and will not impact css style syntax */
